main {
  margin-block: 4rem;
}

main h4 {
  position: relative;
  left: 17rem;
  color: white;
  font-size: 1.3rem;
  margin-bottom: 2rem;
}

.container {
  display: flex;
  position: relative;
  left: 2rem;
  justify-content: center;
  gap: 3rem;
  
}

img{
  width: 12rem;
  height: 17rem;
}

main h5 {
  color: white;
  margin-block: 0.3rem;
  font-size: 1rem;
  text-align: center;

}

main div .detalhes {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

main p {
  color: white;
  margin-block: 0.3rem;
}

.risco {
  text-decoration: line-through;
}

main button {
  font-size: .9rem;
  color: white;
  background-color: rgb(0, 116, 228);
  border-radius: 5px;
  width: 3.5rem;
  height: 2rem;
  position: relative;
  top: -2.8rem;
  left: 0.5rem;
}