* {
  margin: 0;
  box-sizing: border-box;
}

nav {
  display: flex;
  grid-template-columns: auto;
  background-color: #2a2a2a;
  font-family: OpenSans,sans-serif,arial;
  font-size: 0.75rem;
  width: 100%;
  padding-inline: 0.7rem 0;
  margin-bottom: .5rem;
}
  
.navbar {
  display: flex;
  align-items: center;    
}

.imgLogo {
  padding: 0.3rem 0.3rem 0 0.3rem;
  width: 3rem;
  height: 3.1rem;
  margin-inline: 0.2rem 0.6rem;
}

.menu-logo {
    display: flex;
    justify-content: space-around;
    gap: .8rem;
    text-decoration: none;
    color: #ccc;
}

nav .menu-logo a:hover,
nav .ativo {
  border-bottom: 5px solid #0078f2;
  transition-duration: 0.3s;
}

a {
  padding: 0.7rem;
}

.header-options {
  position: relative;
  top: 0;
  left: 65rem;
  margin-right: 0.1rem;
}

.sign-btn {
    background-color: #2a2a2a;
    color: #ccc;
    border: none;
    font-size: .75rem;
    margin-right: 2rem;
    cursor: pointer;
}

.download-btn {
    background-color: #007dfc;
    border: none;
    color: #fff;
    padding: 1.5rem;
    font-size: .75rem;
    cursor: pointer;
}



